MONGODB_URI=mongodb://localhost:27017/smartapp
PORT=5001
NODE_ENV=development
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 465 
SMTP_MAIL = nabatech.om@gmail.com
SMTP_PASSWORD = cuyzmnsmorwiwwbm
JWT_SECRET=cb3842f5083646a66aa8843c05b45363b7ba1dfa0f13520c6c28ce1cc1e2bd50
JWT_EXPIRE=7d
